<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static' ,filename='css/form.css')}}">
    <title>Editar curso</title>
    
</head>
<body>
    
    <h1 class="titulo-formulario">Editar un curso</h1>
    <form method="post" class="formulario">
        {{formulario.csrf_token}}
        <div class="campo">
            {{formulario.nombre.label}}
            {{formulario.nombre(size=50)}}
        </div>
        <div class="campo">
            {{formulario.instructor.label}}
            {{formulario.instructor(size=30)}}
        </div>
        <div class="campo">
            {{formulario.topico.label}}
            {{formulario.topico(size=30)}}
        </div>
        <div class="campo">
          {{formulario.enviar(class="boton")}}
          <a href="{{url_for('inicio')}}">Cancelar</a>
        </div>
    </form>
</body>
</html>