<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertar curso</title>
</head>
<body>
    <h1>Insertar un curso</h1>

    <form method="post">
        {{formulario.csrf_token}}
        <div>
            {{formulario.nombre.label}}
            {{formulario.nombre(size=50)}}
        </div>
        <div>
            {{formulario.instructor.label}}
            {{formulario.instructor(size=30)}}
        </div>
        <div>
            {{formulario.topico.label}}
            {{formulario.topico(size=30)}}
        </div>
        <div>
          {{formulario.enviar}}
        </div>
    </form>
    
</body>
</html>