<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mensaje</title>
</head>
<body>
    <div>
        <div>
            {{mensaje.titulo.label}}
            {{mensaje.titulo(size=50)}}
        </div>
        <div>
            {{mensaje.mensaje.label}}
            {{mensaje.mensaje}}
        </div>
        <div>
            {{mensaje.enviar(class="boton")}}
        </div>
    </div>
    
</body>
</html>