<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mensaje</title>
</head>
<body>
    <form method="post">
        {{formulario.csrf_token}}

        <div>
            {{formulario.titulo.label}}
            {{formulario.titulo(size=50)}}
        </div>
        <div>
            {{formulario.mensaje.label}}
            {{formulario.mensaje}}
        </div>
        <div>
            {{formulario.enviar(class="boton")}}
        </div>
    </form>
    
</body>
</html>