<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/detalles_curso.css') }}" >
    <title>Detalle contacto</title>
</head>
<body>
    <h2>Detalle contacto</h2>

    <div class="card">
        <p> {{dato.nombre}} </p>
        <p> {{dato.telefono}} </p>
        <p> {{dato.email}} </p>
        <p> {{dato.direccion}} </p>
        <p> {{dato.comentario}} </p>
    </div>
    
</body>
</html>