<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>Document</title>
</head>
<body>
    <h1>Agenda de contactos</h1>
    <ul>
        {%for contacto in contactos:%}

            <li>
                <a href="/contacto/{{contacto.id}}">{{contacto.nombre}}</a>
                <p>{{contacto.telefono}}</p>
                <a href="/editar_contacto/{{contacto.id}}">editar</a>
                
                <form action="{{url_for('eliminar_contacto',id=contacto.id)}}" method="post">
               
                    <button type="submit">eliminar</button>
                </form>
            </li>   
        {% endfor %}
    </ul>

    <a href="{{url_for('insertar_contacto')}}">Agregar contacto</a>
 
</body>
</html>